:8080 {
    root * dist
    file_server

    # Đưa API lên đầu, không cho phép try_files can thiệp vào /api
    handle /api/* {
        reverse_proxy http://54.151.167.190:8080
    }

    handle /ws/* {
        reverse_proxy http://54.151.167.190:8080 {
            header_up Host {host}
            header_up Connection {>Connection}
            header_up Upgrade {>Upgrade}
        }
    }

    # Chỉ xử lý giao diện cho các path khác
    handle {
        try_files {path} /index.html
    }
}