:8080 {
    root * dist
    file_server
    try_files {path} /index.html

    # Proxy cho API (Giữ nguyên path /api để BE xử lý)
    reverse_proxy /api/* http://54.151.167.190:8080

    # Proxy cho WebSocket và SockJS
    reverse_proxy /ws/* http://54.151.167.190:8080 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up Connection {>Connection}
        header_up Upgrade {>Upgrade}
    }
}