:8080 {
    root * dist
    file_server
    try_files {path} /index.html

    # Chuyển tiếp API (Giữ nguyên path /api)
    reverse_proxy /api/* http://54.151.167.190:8080

    # Chuyển tiếp WebSocket (Dành cho tính năng thời gian thực)
    reverse_proxy /ws/* http://54.151.167.190:8080 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up Connection {>Connection}
        header_up Upgrade {>Upgrade}
        flush_interval -1
    }
}